adf-treinamento-ws/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-treinamento-ws"
		},
		"LS_DATABRICKS_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'LS_DATABRICKS'"
		},
		"LS_DATA_LAKE_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_DATA_LAKE'"
		},
		"LS_SQL_SERVER_ONPREMISE_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_SQL_SERVER_ONPREMISE'"
		},
		"LS_DATABRICKS_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0416-221816-6puiu1cx"
		},
		"LS_DATA_LAKE_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://asatreinamentows.dfs.core.windows.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/LS_DATABRICKS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-898372087905544.4.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('LS_DATABRICKS_accessToken')]"
					},
					"existingClusterId": "[parameters('LS_DATABRICKS_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_DATA_LAKE')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_DATA_LAKE_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_DATA_LAKE_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IR-OnPremise')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_STORAGE_ACCOUNT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_DATA_LAKE",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "00_CLIENTE.csv",
						"folderPath": "landing_zone/cliente",
						"fileSystem": "dados"
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_DATA_LAKE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQL_SERVER_ONPREMISE')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('LS_SQL_SERVER_ONPREMISE_connectionString')]"
				},
				"connectVia": {
					"referenceName": "IR-OnPremise",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/IR-OnPremise')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_SERVER')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SQL_SERVER_ONPREMISE",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "CODIGO_CLIENTE",
						"type": "int",
						"precision": 10
					},
					{
						"name": "NOME_CLIENTE",
						"type": "varchar"
					},
					{
						"name": "DATA_NASCIMENTO",
						"type": "date"
					},
					{
						"name": "IDADE_CLIENTE",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "DESCRICAO_ENDERECO",
						"type": "varchar"
					},
					{
						"name": "NUMERO_ENDERECO",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "NOME_CIDADE",
						"type": "varchar"
					},
					{
						"name": "NUMERO_TELEFONE",
						"type": "varchar"
					},
					{
						"name": "EMAIL_CLIENTE",
						"type": "varchar"
					},
					{
						"name": "OCUPACAO_CLIENTE",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "TB_CLIENTE"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_SQL_SERVER_ONPREMISE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/00_PIP_EXTRATOR_DADOS_CLIENTE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "EXTRATOR_DADOS_CLIENTE",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CODIGO_CLIENTE",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "CODIGO_CLIENTE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "NOME_CLIENTE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "NOME_CLIENTE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "DATA_NASCIMENTO",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "DATA_NASCIMENTO",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "IDADE_CLIENTE",
											"type": "Byte",
											"physicalType": "tinyint"
										},
										"sink": {
											"name": "IDADE_CLIENTE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "DESCRICAO_ENDERECO",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "DESCRICAO_ENDERECO",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "NUMERO_ENDERECO",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "NUMERO_ENDERECO",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "NOME_CIDADE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "NOME_CIDADE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "NUMERO_TELEFONE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "NUMERO_TELEFONE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "EMAIL_CLIENTE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "EMAIL_CLIENTE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "OCUPACAO_CLIENTE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "OCUPACAO_CLIENTE",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_SQL_SERVER",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_STORAGE_ACCOUNT",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_SQL_SERVER')]",
				"[concat(variables('factoryId'), '/datasets/DS_STORAGE_ACCOUNT')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/01_PIP_MASTER_CARGA_DADOS_CLIENTE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PIP_MASTER_CARGA_DADOS_CLIENTE",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "00_PIP_EXTRATOR_DADOS_CLIENTE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "01_carga_bronze",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "PIP_MASTER_CARGA_DADOS_CLIENTE",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/carga_cliente/01_carga_bronze"
						},
						"linkedServiceName": {
							"referenceName": "LS_DATABRICKS",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "02_carga_silver",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "01_carga_bronze",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/carga_cliente/02_carga_silver"
						},
						"linkedServiceName": {
							"referenceName": "LS_DATABRICKS",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "03_carga_gold",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "02_carga_silver",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/carga_cliente/03_carga_gold"
						},
						"linkedServiceName": {
							"referenceName": "LS_DATABRICKS",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "move_arquivo_cliente",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "03_carga_gold",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/util/move_arquivo_cliente"
						},
						"linkedServiceName": {
							"referenceName": "LS_DATABRICKS",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/00_PIP_EXTRATOR_DADOS_CLIENTE')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_DATABRICKS')]"
			]
		}
	]
}