pipeline/00_PIP_DATA_QUALITY.json
{
	"name": "00_PIP_DATA_QUALITY",
	"properties": {
		"activities": [
			{
				"name": "Etapa_Busca_Arquivo_DQ",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Inicio_Process_Cadastro_Fonte_Dado",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_ARQUIVO_DQ",
						"type": "DatasetReference",
						"parameters": {
							"arquivo_xlsx": "*"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Etapa_Filtro_XLSX",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Etapa_Busca_Arquivo_DQ",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Etapa_Busca_Arquivo_DQ').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@endswith(item().name, '.xlsx')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Etapa_Carga_Dados_Storage",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Etapa_Filtro_XLSX",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Etapa_Filtro_XLSX').output.Value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "DQ - Cadastro Fonte",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "Upload_File",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Shared/WS_DATABRICKS/prj_data_quality/00_dq/02_dq_executa_cadastro_fonte_dado"
							},
							"linkedServiceName": {
								"referenceName": "LS_DATABRICKS",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Upload_File",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "FileServerReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_ARQUIVO_DQ",
									"type": "DatasetReference",
									"parameters": {
										"arquivo_xlsx": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_STORAGE_ACCOUNT_XLSX_DQ",
									"type": "DatasetReference",
									"parameters": {
										"arquivo_xlsx": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Delete1",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "Upload_File",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_ARQUIVO_DQ",
									"type": "DatasetReference",
									"parameters": {
										"arquivo_xlsx": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"wildcardFileName": {
										"value": "@item().name",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			},
			{
				"name": "Inicio_Process_Cadastro_Fonte_Dado",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Shared/WS_DATABRICKS/prj_data_quality/00_dq/04_dq_notifica_processo_cadastro",
					"baseParameters": {
						"fromaddr": {
							"value": "dbaassists@gmail.com",
							"type": "Expression"
						},
						"toaddr": {
							"value": "dbaassists@gmail.com",
							"type": "Expression"
						},
						"assunto": {
							"value": "Data Quality - Início do Processo de Cadastro",
							"type": "Expression"
						},
						"msg": {
							"value": "Prezado Usuário, \n\nO processo de cadastro da sua fonte de dado foi iniciado.\n\nAtenciosamente\n\nData Quality",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_DATABRICKS",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SUCESSO_Termino_Process_Cadastro_Fonte_Dado",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Etapa_Carga_Dados_Storage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Shared/WS_DATABRICKS/prj_data_quality/00_dq/04_dq_notifica_processo_cadastro",
					"baseParameters": {
						"fromaddr": {
							"value": "dbaassists@gmail.com",
							"type": "Expression"
						},
						"toaddr": {
							"value": "dbaassists@gmail.com",
							"type": "Expression"
						},
						"assunto": {
							"value": "Data Quality - Sucesso Processo de Cadastro Fonte Dado",
							"type": "Expression"
						},
						"msg": {
							"value": "Prezado Usuário, \n\nO processo de cadastro da sua fonte de dado foi concluído com sucesso.\n\nAtenciosamente\n\nData Quality",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_DATABRICKS",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "FALHA_Termino_Process_Cadastro_Fonte_Dado",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Etapa_Carga_Dados_Storage",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Shared/WS_DATABRICKS/prj_data_quality/00_dq/04_dq_notifica_processo_cadastro",
					"baseParameters": {
						"fromaddr": {
							"value": "dbaassists@gmail.com",
							"type": "Expression"
						},
						"toaddr": {
							"value": "dbaassists@gmail.com",
							"type": "Expression"
						},
						"assunto": {
							"value": "Data Quality - Falha Processo de Cadastro Fonte Dado",
							"type": "Expression"
						},
						"msg": {
							"value": "Prezado Usuário, \n\nOcorreu um erro durante o processo de cadastro da sua fonte de dado.\n\nAtenciosamente\n\nData Quality",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_DATABRICKS",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Erro_Forcado",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "FALHA_Termino_Process_Cadastro_Fonte_Dado",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "Ocorreu um erro durante o processo de cadastro da fonte de dado",
					"errorCode": "999"
				}
			}
		],
		"folder": {
			"name": "data_quality"
		},
		"annotations": []
	}
}